*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

body.js-no-scroll {
  overflow: hidden; }

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .container {
      padding: 0 18px; } }

.section-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.categories {
  max-width: 100%; }

.categories__title {
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  color: #1a1a1a;
  margin: auto auto 16px;
  width: calc(100% - 80px); }

.categories__types-hidden {
  display: none; }

.categories__item {
  display: inline-block;
  width: 100%; }
  .categories__item:not(:last-child) {
    margin: 0 0 6px; }

.categories__list-wrap {
  width: 100%; }

.categories__type {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 10px 10px 0; }
  .categories__type:first-child {
    margin-left: 40px; }
  .categories__type:last-child {
    margin-right: 40px; }

.categories__type-btn {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #6c7684;
  padding: 5px 10px;
  background-color: #f4f4f8;
  border-radius: 5px;
  border: none;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s; }
  .categories__type-btn:hover {
    cursor: pointer;
    background-color: #e6e6ef;
    color: #1a1a1a; }
  .categories__type-btn.active {
    color: #fff;
    background-color: #2858ff; }

.categories__toggle-btn {
  margin-top: 6px;
  margin-left: 40px; }

@media (max-width: 767px) {
  .categories__title {
    width: calc(100% - 36px); }
  .categories__type:first-child {
    margin-left: 18px; }
  .categories__type:last-child {
    margin-right: 18px; }
  .categories__toggle-btn {
    margin-left: 18px; } }

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-prev,
.slider-next {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slider-prev svg,
  .slider-next svg {
    width: 20px;
    height: 15px;
    color: #1a1a1a; }
  .slider-prev:not(.swiper-button-disabled):hover,
  .slider-next:not(.swiper-button-disabled):hover {
    cursor: pointer; }
  .slider-prev.swiper-button-disabled svg,
  .slider-next.swiper-button-disabled svg {
    color: #b4c1d1; }

.slider-prev {
  margin-right: 24px; }
  .slider-prev svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.club-advantages {
  margin-bottom: 104px; }

.club-advantages__list {
  margin: 0;
  margin-top: -56px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.club-advantages__item {
  width: calc((100% - 112px) / 3);
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .club-advantages__item:not(:nth-child(3n)) {
    margin-right: 56px; }

.club-advantages__icon-block {
  width: 64px;
  height: 64px;
  margin: 0 0 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(357.59deg, #4b6cb7 0%, #182848 100.19%);
  background: linear-gradient(92.41deg, #4b6cb7 0%, #182848 100.19%); }

.club-advantages__item-desc {
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0;
  text-align: center; }

@media (max-width: 1439px) {
  .club-advantages {
    margin-bottom: 64px; } }

@media (max-width: 1024px) {
  .club-advantages__item {
    width: calc((100% - 24px) / 2); }
    .club-advantages__item:nth-child(n) {
      margin-right: 0; }
    .club-advantages__item:not(:nth-child(2n)) {
      margin-right: 24px; }
  .club-advantages__item-desc {
    font-size: 14px;
    line-height: 21px; } }

@media (max-width: 767px) {
  .club-advantages {
    margin-bottom: 40px; }
  .club-advantages__list {
    margin-top: -24px; }
  .club-advantages__item {
    margin-top: 24px;
    width: 100%; }
    .club-advantages__item:nth-child(n) {
      margin-right: 0; }
  .club-advantages__item-desc {
    max-width: 400px; } }

.club-program-advantages {
  margin-bottom: 120px; }

.club-program-advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  border-radius: 16px;
  max-height: 440px; }

.club-program-advantages__title {
  width: calc((100% - 80px) / 3);
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  margin: 0;
  margin-right: auto; }

.club-program-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc((100% - 80px) / 3 * 2);
  margin-top: -40px; }

.club-program-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
  width: calc((100% - 40px) / 2); }
  .club-program-advantages__item img {
    margin-right: 24px; }
  .club-program-advantages__item p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #fff; }

@media (max-width: 1439px) {
  .club-program-advantages {
    margin-bottom: 80px; }
  .club-program-advantages__block {
    max-height: none; }
  .club-program-advantages__title {
    width: 265px; }
  .club-program-advantages__list {
    width: calc(100% - 305px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .club-program-advantages__item {
    width: 100%;
    max-width: 560px; } }

@media (max-width: 1024px) {
  .club-program-advantages {
    margin-bottom: 64px; }
  .club-program-advantages__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .club-program-advantages__title {
    margin: 0 0 40px;
    width: 100%;
    font-size: 24px;
    line-height: 28px; }
  .club-program-advantages__list {
    width: 100%; }
  .club-program-advantages__item {
    max-width: none; }
    .club-program-advantages__item p {
      font-size: 14px;
      line-height: 21px;
      padding-top: 6px; } }

@media (max-width: 767px) {
  .club-program-advantages {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px; }
  .club-program-advantages__block {
    border-radius: 0;
    padding: 40px 24px; }
  .club-program-advantages__item {
    margin-top: 24px; }
  .club-program-advantages__list {
    margin-top: -24px; } }

.club-program-event {
  margin-bottom: 80px; }

.club-program-event__block {
  position: relative;
  padding: 80px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 500px; }
  .club-program-event__block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.02%, rgba(255, 255, 255, 0.8)), color-stop(66.95%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.8) 0.02%, rgba(255, 255, 255, 0) 66.95%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0.02%, rgba(255, 255, 255, 0) 66.95%);
    z-index: 2; }

.club-program-event__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1; }

.club-program-event__title {
  font-size: 48px;
  line-height: 55px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0 0 16px;
  max-width: 580px;
  position: relative;
  z-index: 3; }

.club-program-event__desc {
  font-size: 18px;
  line-height: 27px;
  color: #1a1a1a;
  margin: 0 0 24px;
  max-width: 580px;
  position: relative;
  z-index: 3; }

.club-program-event__link {
  position: relative;
  z-index: 3;
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  border: none;
  width: 260px;
  padding-top: 18px;
  padding-bottom: 17px; }

.club-program-event__chip {
  position: absolute;
  top: 0;
  right: 40px;
  width: 200px;
  height: auto;
  z-index: 3; }

@media (max-width: 1439px) {
  .club-program-event {
    margin-bottom: 67px; }
  .club-program-event__block {
    padding: 80px 55px; }
  .club-program-event__chip {
    width: 150px;
    height: auto; }
  .club-program-event__img {
    -o-object-position: top 47% left 50%;
       object-position: top 47% left 50%; } }

@media (max-width: 1024px) {
  .club-program-event {
    margin-bottom: 47px; }
  .club-program-event__block {
    padding: 80px 42px;
    min-height: 528px; }
  .club-program-event__title {
    font-size: 32px;
    line-height: 37px;
    max-width: 60%; }
  .club-program-event__desc {
    font-size: 14px;
    line-height: 21px;
    max-width: 52%; }
  .club-program-event__img {
    -o-object-position: top 35% left 50%;
       object-position: top 35% left 50%; }
  .club-program-event__chip {
    width: 110px;
    right: 24px; } }

@media (max-width: 767px) {
  .club-program-event {
    margin-bottom: 32px; }
  .club-program-event__block {
    padding: 80px 24px 24px;
    min-height: auto; }
    .club-program-event__block::after {
      background: -webkit-gradient(linear, right top, left top, color-stop(17%, rgba(255, 255, 255, 0.8)), color-stop(60.67%, rgba(255, 255, 255, 0)));
      background: -o-linear-gradient(right, rgba(255, 255, 255, 0.8) 17%, rgba(255, 255, 255, 0) 60.67%);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 17%, rgba(255, 255, 255, 0) 60.67%); }
  .club-program-event__title {
    font-size: 24px;
    line-height: 28px;
    max-width: none; }
  .club-program-event__desc {
    max-width: 400px; }
  .club-program-event__link {
    width: 200px; }
  .club-program-event__chip {
    width: 96px; }
  .club-program-event__img {
    -o-object-position: top 45% left 50%;
       object-position: top 45% left 50%; } }

@media (max-width: 629px) {
  .club-program-event__img {
    -o-object-position: top 38% left 50%;
       object-position: top 38% left 50%; } }

@media (max-width: 499px) {
  .club-program-event__img {
    -o-object-position: top 25% left 50%;
       object-position: top 25% left 50%; }
  .club-program-event__block::after {
    background: -webkit-gradient(linear, right top, left top, color-stop(30%, rgba(255, 255, 255, 0.8)), color-stop(60.67%, rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 60.67%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 60.67%); } }

@media (max-width: 419px) {
  .club-program-event__img {
    -o-object-position: top 0 left 50%;
       object-position: top 0 left 50%;
    width: 142%;
    height: 142%; } }

.club-program-join__block {
  padding: 80px;
  min-height: 440px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.club-program-join__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top 38% left 50%;
     object-position: top 38% left 50%; }

.club-program-join__logo {
  position: relative;
  z-index: 1;
  margin: 0 0 48px; }

.club-program-join__text {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  color: #fff;
  z-index: 1;
  margin: 0 0 24px;
  max-width: 800px;
  text-align: center; }

.club-program-join__link {
  background: #fff;
  font-family: "SuisseIntl";
  border: none;
  position: relative;
  z-index: 1;
  color: #1a1a1a;
  width: 260px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .club-program-join__link:hover {
    background-color: #f4f4f8;
    color: #1a1a1a; }

@media (max-width: 1024px) {
  .club-program-join__block {
    padding: 80px 46px; }
  .club-program-join__text {
    font-size: 24px;
    line-height: 28px; }
  .club-program-join__img {
    -o-object-position: top 0 left 50%;
       object-position: top 0 left 50%; } }

@media (max-width: 767px) {
  .club-program-join__block {
    padding: 32px 24px 60px;
    min-height: auto; }
  .club-program-join__logo {
    width: 142px;
    height: auto;
    margin: 0 0 48px; }
  .club-program-join__text {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 24px; }
  .club-program-join__link {
    width: 100%; }
  .club-program-join__img {
    -o-object-position: top 100% left 50%;
       object-position: top 100% left 50%; } }

.club-program-partnership {
  margin-bottom: 80px; }

.club-program-partnership__title {
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
  font-weight: 500;
  margin: 0 0 24px;
  text-align: center; }

.club-program-partnership__desc {
  font-size: 16px;
  line-height: 24px;
  color: #6c7684;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 1030px; }

.club-program-partnership__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -24px; }

.club-program-partnership__item {
  width: calc((100% - 72px) / 4);
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  position: relative; }
  .club-program-partnership__item:not(:nth-child(4n)) {
    margin-right: 24px; }

.club-program-partnership__text {
  background: -webkit-gradient(linear, left top, right top, from(#007fff), to(#22283f));
  background: -o-linear-gradient(left, #007fff 0%, #22283f 100%);
  background: linear-gradient(90deg, #007fff 0%, #22283f 100%);
  border-radius: 16px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .club-program-partnership__text span {
    display: block;
    background: #fff;
    border-radius: 13px;
    padding: 40px; }

.club-program-partnership__num {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  border-radius: 16px 16px 16px 0px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
  padding-top: 16px; }

@media (max-width: 1439px) {
  .club-program-partnership {
    margin-bottom: 64px; }
  .club-program-partnership__item {
    width: calc((100% - 24px) / 2); }
    .club-program-partnership__item:nth-child(n) {
      margin-right: 0; }
    .club-program-partnership__item:not(:nth-child(2n)) {
      margin-right: 24px; }
  .club-program-partnership__text {
    width: 100%; }
    .club-program-partnership__text span {
      width: 100%;
      padding-top: 55px;
      min-height: 158px; } }

@media (max-width: 1024px) {
  .club-program-partnership__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 24px; }
  .club-program-partnership__desc {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 40px; }
  .club-program-partnership__list {
    margin-top: -16px; }
  .club-program-partnership__item {
    width: 100%;
    padding-top: 15px;
    margin-top: 16px; }
    .club-program-partnership__item:nth-child(n) {
      margin-right: 0; }
  .club-program-partnership__text span {
    min-height: auto;
    padding: 65px 24px 24px; } }

@media (max-width: 767px) {
  .club-program-partnership {
    margin-bottom: 40px; }
  .club-program-partnership__desc {
    margin-bottom: 32px; }
  .club-program-partnership__list {
    margin-top: -8px; }
  .club-program-partnership__item {
    margin-top: 8px; } }

.club-program-persons {
  margin-bottom: 120px; }

.club-program-persons__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.club-program-persons__item:not(:last-child) {
  margin-bottom: 16px; }

.club-program-persons__item:nth-child(2) .club-program-persons__card {
  background: #006ab8; }

.club-program-persons__item:nth-child(3) .club-program-persons__card {
  background: #004d89; }

.club-program-persons__card {
  position: relative;
  padding: 40px;
  background: #0093d6;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .club-program-persons__card::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 36px;
    width: 78px;
    height: 70px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.club-program-persons__person {
  width: 270px;
  margin-right: 65px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .club-program-persons__person img {
    width: 80px;
    height: 80px;
    margin: 0 0 24px; }

.club-program-persons__name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 8px;
  display: block; }

.club-program-persons__job {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  display: block; }

.club-program-persons__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff; }
  .club-program-persons__text p.short {
    max-height: 144px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-clamp: 6;
    box-orient: vertical; }
  .club-program-persons__text button {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: "SuisseIntl"; }
    .club-program-persons__text button:hover {
      cursor: pointer; }
    .club-program-persons__text button span:nth-child(2) {
      display: none; }
    .club-program-persons__text button img {
      margin-left: 16px; }

.club-program-persons__text.opened button span:first-child {
  display: none; }

.club-program-persons__text.opened button span:nth-child(2) {
  display: inline; }

.club-program-persons__text.opened button img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

@media (max-width: 1439px) {
  .club-program-persons {
    margin-bottom: 80px; }
  .club-program-persons__person {
    width: 180px;
    margin-right: 32px; }
  .club-program-persons__text {
    font-size: 14px;
    line-height: 21px; }
    .club-program-persons__text p.short {
      max-height: 147px;
      -webkit-line-clamp: 7;
      line-clamp: 7; }
    .club-program-persons__text button {
      font-size: 14px;
      line-height: 17px; }
  .club-program-persons__name {
    font-size: 16px;
    line-height: 18px; }
  .club-program-persons__job {
    font-size: 14px;
    line-height: 21px; } }

@media (max-width: 1024px) {
  .club-program-persons {
    margin-bottom: 64px; }
  .club-program-persons__text {
    font-size: 14px;
    line-height: 21px; }
    .club-program-persons__text p.short {
      max-height: 273px;
      -webkit-line-clamp: 13;
      line-clamp: 13; } }

@media (max-width: 767px) {
  .club-program-persons {
    margin-bottom: 40px; }
  .club-program-persons__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px; }
    .club-program-persons__card::after {
      width: 64px;
      height: 58px;
      top: 33px;
      right: 30px; }
  .club-program-persons__person {
    width: 100%;
    margin: 0 0 24px; } }

@media (max-width: 479px) {
  .club-program-persons__text p.short {
    max-height: 420px;
    -webkit-line-clamp: 20;
    line-clamp: 20; } }

.club-program-promo {
  margin-bottom: 120px; }
  .club-program-promo ul.breadcrumbs {
    display: block; }

.club-program-promo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  overflow: hidden; }

.club-program-promo__text-part {
  width: 50%;
  padding: 80px;
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%); }

.club-program-promo__logo {
  margin: 0 0 112px; }

.club-program-promo__title {
  font-size: 48px;
  line-height: 55px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 16px; }

.club-program-promo__desc {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin: 0 0 24px; }

.club-program-promo__link {
  background: #fff;
  color: #1a1a1a;
  padding-top: 18px;
  padding-bottom: 17px;
  width: 260px;
  border: none;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .club-program-promo__link:hover {
    background-color: #f4f4f8;
    color: #1a1a1a; }

.club-program-promo__img-block {
  width: 50%;
  position: relative; }

.club-program-promo__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.club-program-promo__chip {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  right: 40px; }

@media (max-width: 1439px) {
  .club-program-promo {
    margin-bottom: 80px; }
  .club-program-promo__block {
    min-height: 520px; }
  .club-program-promo__text-part {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .club-program-promo__logo {
    width: 138px;
    height: auto; }
  .club-program-promo__title {
    font-size: 36px;
    line-height: 41px;
    margin-top: auto; }
  .club-program-promo__chip {
    width: 150px;
    height: auto; } }

@media (max-width: 1024px) {
  .club-program-promo {
    margin-bottom: 64px; }
  .club-program-promo__block {
    min-height: 354px; }
  .club-program-promo__text-part {
    padding: 24px; }
  .club-program-promo__title {
    font-size: 24px;
    line-height: 28px; }
  .club-program-promo__desc {
    font-size: 14px;
    line-height: 20px; }
  .club-program-promo__link {
    width: 200px; }
  .club-program-promo__chip {
    width: 110px;
    right: 24px; } }

@media (max-width: 767px) {
  .club-program-promo {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 40px; }
    .club-program-promo .breadcrumbs {
      margin-left: 16px;
      margin-right: 16px; }
  .club-program-promo__block {
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .club-program-promo__img-block {
    width: 100%;
    padding-top: 68.7%; }
  .club-program-promo__text-part {
    width: 100%;
    padding: 24px 18px 31px; }
  .club-program-promo__chip {
    width: 96px;
    right: 16px; }
  .club-program-promo__logo {
    margin: 0 0 24px; } }

.club-program-request {
  margin-bottom: 120px; }

.club-program-request__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1.5px solid #f4f4f8;
  border-radius: 5px; }

.club-program-request__content {
  width: 50%;
  padding: 40px; }

.club-program-request__title {
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
  font-weight: 500;
  margin: 0 0 37px; }

.club-program-request__label {
  display: block;
  margin: 0 0 24px; }

.club-program-request__label-name {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #94a0b1;
  margin: 0 0 11px; }

.club-program-request__input {
  padding: 17px 20px 16px;
  border: none;
  background-color: #f4f4f8;
  border-radius: 6px;
  color: #1a1a1a;
  width: 100%;
  border: 1px solid #f4f4f8;
  font-size: 15px;
  line-height: 23px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .club-program-request__input:hover {
    border: 1px solid #dee0e1; }
  .club-program-request__input:focus {
    border: 1px solid #adb0b4; }
  .club-program-request__input::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SuisseIntl";
    color: #94a0b1;
    opacity: 1;
    /* Firefox */ }
  .club-program-request__input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SuisseIntl";
    color: #94a0b1;
    opacity: 1;
    /* Firefox */ }
  .club-program-request__input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SuisseIntl";
    color: #94a0b1;
    opacity: 1;
    /* Firefox */ }
  .club-program-request__input::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SuisseIntl";
    color: #94a0b1;
    opacity: 1;
    /* Firefox */ }
  .club-program-request__input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "SuisseIntl";
    color: #94a0b1;
    opacity: 1;
    /* Firefox */ }
  .club-program-request__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "SuisseIntl";
    color: #94a0b1; }
  .club-program-request__input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "SuisseIntl";
    color: #94a0b1; }

.club-program-request__send-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px; }

.club-program-request__send-btn {
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  padding-top: 18px;
  padding-bottom: 17px;
  margin-right: 24px;
  width: 260px;
  border: none;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.club-program-request__policy {
  font-size: 12px;
  line-height: 16px;
  color: #94a0b1;
  margin: 0; }
  .club-program-request__policy a {
    color: #94a0b1;
    border-bottom: 1px solid #94a0b1; }

.club-program-request__img-block {
  width: 50%;
  position: relative; }
  .club-program-request__img-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

@media (max-width: 1439px) {
  .club-program-request {
    margin-bottom: 80px; }
  .club-program-request__send-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .club-program-request__policy {
    margin: 0 0 24px; } }

@media (max-width: 1024px) {
  .club-program-request {
    margin-bottom: 64px; }
  .club-program-request__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .club-program-request__img-block {
    padding-top: 55.5%;
    width: 100%; }
  .club-program-request__content {
    padding: 40px;
    width: 100%; }
  .club-program-request__title {
    font-size: 24px;
    line-height: 29px; }
  .club-program-request__send-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .club-program-request__policy {
    margin: 0; } }

@media (max-width: 767px) {
  .club-program-request {
    margin-bottom: 40px; }
  .club-program-request__img-block {
    padding-top: 70.4%; }
  .club-program-request__content {
    padding: 24px; }
  .club-program-request__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 21px; }
  .club-program-request__input {
    padding: 13px 16px 12px; }
  .club-program-request__send-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 3px; }
  .club-program-request__policy {
    margin: 0 0 24px;
    width: 100%; }
  .club-program-request__send-btn {
    width: 100%; } }

.club-program-schedule {
  margin-bottom: 120px;
  padding-left: 0;
  padding-right: 0; }

.club-program-schedule__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 80px);
  margin: 0 auto 40px; }

.club-program-schedule__title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
  padding-right: 16px; }

.club-program-schedule__controls {
  margin-left: auto; }

.club-program-schedule__slider {
  padding-bottom: 24px; }

div.club-program-schedule__card {
  width: 20.8%;
  margin-left: 27px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  overflow: hidden;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  div.club-program-schedule__card:first-child {
    margin-left: 40px; }
  div.club-program-schedule__card:last-child {
    margin-right: 40px; }

.club-program-schedule__card-img-block {
  width: 100%;
  padding-top: 70%;
  position: relative; }

.club-program-schedule__card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.club-program-schedule__text {
  padding: 24px;
  background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
  background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media (max-width: 1439px) {
  .club-program-schedule {
    margin-bottom: 56px; }
  div.club-program-schedule__card {
    width: 28%;
    max-width: 300px; } }

@media (max-width: 1024px) {
  .club-program-schedule {
    margin-bottom: 40px; }
  .club-program-schedule__title {
    font-size: 24px;
    line-height: 28px; }
  .club-program-schedule__title-block {
    margin-bottom: 31px; }
  div.club-program-schedule__card {
    width: 39%; } }

@media (max-width: 767px) {
  .club-program-schedule {
    margin-bottom: 40px; }
  div.club-program-schedule__card {
    width: 264px;
    max-width: none;
    margin-left: 16px; }
    div.club-program-schedule__card:first-child {
      margin-left: 16px; }
    div.club-program-schedule__card:last-child {
      margin-right: 16px; }
  .club-program-schedule__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: calc(100% - 32px);
    margin-bottom: 30px; }
  .club-program-schedule__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;
    padding-right: 0; }
  .club-program-schedule__controls {
    margin-left: 0; }
  .club-program-schedule__text {
    font-size: 14px;
    line-height: 21px; } }

.club-program-statistics {
  margin-bottom: 120px; }

.club-program-statistics__block.mobile {
  display: none; }

.club-program-statistics__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.club-program-statistics__header-name {
  font-size: 48px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 0 16px;
  color: #fff; }

.club-program-statistics__header-desc {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  color: #fff; }

.club-program-statistics__header-logo-block {
  min-height: 100px;
  margin: 0 0 14px; }

.club-program-statistics__header-part {
  width: calc((100% - 40px) / 2);
  padding: 40px;
  border-radius: 16px; }
  .club-program-statistics__header-part.daichi {
    background-color: #1a1a1a; }
    .club-program-statistics__header-part.daichi .club-program-statistics__header-logo {
      width: 185px;
      height: auto; }
  .club-program-statistics__header-part.midea {
    background: -o-linear-gradient(357.59deg, #007fff 0%, #22283f 100.19%);
    background: linear-gradient(92.41deg, #007fff 0%, #22283f 100.19%); }
    .club-program-statistics__header-part.midea .club-program-statistics__header-logo {
      width: 162px;
      height: auto; }
    .club-program-statistics__header-part.midea .club-program-statistics__header-desc {
      max-width: 420px; }

.club-program-statistics__content {
  display: none; }

.club-program-statistics__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px; }

.club-program-statistics__content-part {
  width: calc((100% - 40px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -16px; }

.club-program-statistics__chip {
  width: calc((100% - 16px) / 2);
  padding: 24px;
  background: #f4f4f8;
  border-radius: 16px;
  margin-top: 16px; }
  .club-program-statistics__chip.daichi .club-program-statistics__chip-value {
    color: #1a1a1a; }
  .club-program-statistics__chip.midea .club-program-statistics__chip-value {
    color: #32a3fd; }
  .club-program-statistics__chip.third {
    width: calc((100% - 32px) / 3); }

.club-program-statistics__chip-value {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  margin: 0 0 8px; }

.club-program-statistics__chip-desc {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #6c7684; }

.club-program-statistics__toggle-btn {
  width: 100%;
  border: 1.5px solid #d1d8e1;
  border-radius: 5px;
  padding: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #1a1a1a;
  font-weight: 500;
  background-color: #fff;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .club-program-statistics__toggle-btn:hover {
    cursor: pointer; }
  .club-program-statistics__toggle-btn img {
    margin-left: 16px; }
  .club-program-statistics__toggle-btn span {
    font-weight: 500;
    font-family: "SuisseIntl"; }
    .club-program-statistics__toggle-btn span:nth-child(2) {
      display: none; }
  .club-program-statistics__toggle-btn.opened span:nth-last-child(2) {
    display: inline; }
  .club-program-statistics__toggle-btn.opened span:first-child {
    display: none; }
  .club-program-statistics__toggle-btn.opened img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

@media (max-width: 1439px) {
  .club-program-statistics {
    margin-bottom: 80px; }
  .club-program-statistics__header-part {
    width: calc((100% - 24px) / 2); }
    .club-program-statistics__header-part.daichi .club-program-statistics__header-logo {
      width: 144px; }
    .club-program-statistics__header-part.midea .club-program-statistics__header-logo {
      width: 133px; }
    .club-program-statistics__header-part.midea .club-program-statistics__header-desc {
      max-width: 80%; }
  .club-program-statistics__header-name {
    font-size: 40px;
    line-height: 46px; }
  .club-program-statistics__header-desc {
    font-size: 20px;
    line-height: 30px; }
  .club-program-statistics__header-logo-block {
    min-height: 120px;
    margin: 0 0 16px; }
  .club-program-statistics__content-part {
    width: calc((100% - 24px) / 2); }
  .club-program-statistics__chip, .club-program-statistics__chip.third {
    width: 100%; } }

@media (max-width: 1024px) {
  .club-program-statistics {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 64px; }
  .club-program-statistics__block {
    display: none; }
    .club-program-statistics__block.mobile {
      display: block; }
  .club-program-statistics__toggle-btn {
    display: none; }
  .club-program-statistics__slider:not(:last-child) {
    margin-bottom: 16px; }
  .club-program-statistics__slider-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .club-program-statistics__header-part {
    padding: 40px 24px 24px;
    width: 264px;
    margin-left: 16px;
    min-height: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .club-program-statistics__header-part.daichi .club-program-statistics__header-logo {
      width: 99px; }
    .club-program-statistics__header-part.midea .club-program-statistics__header-logo {
      width: 96px; }
  .club-program-statistics__header-logo-block {
    min-height: 70px;
    margin: 0 0 14px; }
  .club-program-statistics__header-name {
    font-size: 24px;
    line-height: 28px;
    margin-top: auto; }
  .club-program-statistics__header-desc {
    font-size: 16px;
    line-height: 24px; }
  .club-program-statistics__chip,
  .club-program-statistics__chip.third {
    height: auto;
    margin-top: 0;
    width: 190px;
    margin-left: 16px;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .club-program-statistics__chip:last-child {
    margin-right: 64px; }
  .club-program-statistics__chip-value {
    font-size: 24px;
    line-height: 28px;
    margin-top: auto; }
  .club-program-statistics__chip-desc {
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 767px) {
  .club-program-statistics {
    margin-bottom: 40px; }
  .club-program-statistics__slider-wrapper {
    padding-left: 0;
    padding-right: 0; }
  .club-program-statistics__header-part {
    margin-left: 16px; }
  .club-program-statistics__chip:last-child {
    margin-right: 16px; } }

.club-programs {
  padding-left: 0;
  padding-right: 0; }

.club-programs__title {
  font-size: 32px;
  line-height: 37px;
  color: #1a1a1a;
  font-weight: 500;
  width: calc(100% - 80px);
  margin: 0 auto 24px; }

.club-programs__block {
  padding-top: 40px;
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto; }

.club-programs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  border-radius: 5px;
  overflow: hidden; }
  .club-programs__item:not(:last-child) {
    margin-bottom: 24px; }

.club-programs__item-text-block {
  width: 50%;
  padding: 40px;
  background-color: #f4f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.club-programs__item-title {
  font-size: 32px;
  line-height: 38px;
  color: #1a1a1a;
  font-weight: 500;
  margin: 0 0 20px; }

.club-programs__item-desc {
  font-size: 16px;
  line-height: 24px;
  color: #6c7684;
  margin: 0 0 20px;
  max-width: 500px; }

.club-programs__item-btn-block {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .club-programs__item-btn-block .btn {
    width: 260px;
    padding-top: 18px;
    padding-bottom: 17px; }
    .club-programs__item-btn-block .btn:not(:first-child) {
      margin-left: 16px; }

.club-programs__item-img-block {
  position: relative;
  width: 50%; }

.club-programs__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.club-programs__item-img-chip {
  position: absolute;
  top: 0;
  right: 40px;
  width: 160px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .club-programs__item-img-chip.midea {
    background: #32a3fd; }
  .club-programs__item-img-chip.daichi {
    background: #f4f4f8; }
  .club-programs__item-img-chip.bosch {
    background: #f4f4f8;
    border-radius: 0px 0px 8px 8px; }

@media (max-width: 1439px) {
  .club-programs__item-btn-block .btn {
    width: calc((100% - 16px) / 2); } }

@media (max-width: 1024px) {
  .club-programs__title {
    font-size: 24px;
    line-height: 28px; }
  .club-programs__block {
    padding-top: 14px; }
  .club-programs__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .club-programs__item:nth-child(2n) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .club-programs__item-text-block {
    width: 100%;
    padding: 24px; }
  .club-programs__item-img-block {
    width: 100%;
    padding-top: 55.5%; }
  .club-programs__item-img {
    position: absolute;
    top: 0;
    left: 0; }
  .club-programs__item-img-chip {
    width: 110px;
    height: 64px;
    right: 24px; }
    .club-programs__item-img-chip.midea img {
      width: 62px;
      height: auto; }
    .club-programs__item-img-chip.daichi img {
      width: 75px;
      height: auto; }
    .club-programs__item-img-chip.bosch img {
      width: 72px;
      height: auto; }
  .club-programs__item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 16px; }
  .club-programs__item-desc {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 78px;
    max-width: 410px; }
  .club-programs__item-btn-block .btn {
    width: 200px; } }

@media (max-width: 767px) {
  .club-programs__title {
    width: calc(100% - 36px);
    margin-bottom: 16px; }
  .club-programs__block {
    width: calc(100% - 36px); }
  .club-programs__item-img-block {
    padding-top: 84.5%; }
  .club-programs__item-text-block {
    padding: 16px; }
  .club-programs__item-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px; }
  .club-programs__item-desc {
    margin: 0 0 24px; }
  .club-programs__item-btn-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .club-programs__item-btn-block .btn {
      width: 100%;
      padding-top: 14px;
      padding-bottom: 13px; }
      .club-programs__item-btn-block .btn:not(:first-child) {
        margin-left: 0;
        margin-top: 8px; }
  .club-programs__item-img-chip {
    width: 96px;
    height: 56px;
    right: 16px; }
    .club-programs__item-img-chip.midea img {
      width: 54px; }
    .club-programs__item-img-chip.daichi img {
      width: 72px; }
    .club-programs__item-img-chip.bosch img {
      width: 64px; } }

.club-promo {
  padding-top: 40px;
  margin-bottom: 80px; }

.club-promo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  overflow: hidden; }

.club-promo__text-part {
  width: 50%;
  background: -o-linear-gradient(357.59deg, #4b6cb7 0%, #182848 100.19%);
  background: linear-gradient(92.41deg, #4b6cb7 0%, #182848 100.19%);
  padding: 80px;
  color: #fff; }

.club-promo__logo {
  margin: 0 0 55px; }

.club-promo__title {
  font-size: 36px;
  line-height: 41px;
  font-weight: 500;
  margin: 0 0 16px;
  color: #fff; }

.club-promo__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0; }

.club-promo__img-part {
  width: 50%;
  background-image: url("../img/daichi-croud.jpg");
  background-repeat: no-repeat;
  background-position: left 30% bottom 0;
  background-size: 110% auto; }

@media (max-width: 1439px) {
  .club-promo__block {
    min-height: 520px; }
  .club-promo__text-part {
    padding: 40px; }
  .club-promo__logo {
    margin: 0 0 32px;
    width: 138px;
    height: auto; } }

@media (max-width: 1024px) {
  .club-promo__img-part {
    background-size: 100% auto; }
  .club-promo {
    padding-top: 32px;
    margin-bottom: 40px; }
  .club-promo__block {
    min-height: 354px; }
  .club-promo__text-part {
    padding: 24px; }
  .club-promo__title {
    font-size: 24px;
    line-height: 28px; }
  .club-promo__desc {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 767px) {
  .club-promo {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
  .club-promo__logo {
    margin: 0 0 24px; }
  .club-promo__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-radius: 0; }
  .club-promo__text-part {
    width: 100%;
    padding: 24px 18px; }
  .club-promo__img-part {
    width: 100%;
    padding-top: 68.7%;
    background-position: left 30% bottom -30px; } }
